#register {
    width: 100%;
    background: $brown-middle;
    padding: 7rem;
    h2 {
        color: $white;
    }
}

@include breakpoint(0, $tablet) {
    #register {
        padding: 1rem;
    }
}

@include breakpoint(0, $mobile) {
    #register {
        padding: 1rem;
    }
}